@import url("https://use.typekit.net/nci3lbg.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-3xl: 125rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "tahoma", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "tahoma", sans-serif;
}

html,
body {
  background-color: #fafafa;
  scrollbar-gutter: stable both-edges;
}

.dark {
  filter: invert(1) saturate(1.5);
  transition: filter 0.1s ease;
}

.dark * img {
  filter: invert(1) saturate(0.5) !important;
}
